body{
    padding: 0px;
    margin: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 27, 27);
    padding: 5px;
    box-shadow: 0px 0px 10px black;
}
.logo_div{
    display:flex;
    align-items: center;
}
.logo_div img{
    height:100px;
    width:100px;
    cursor:pointer;
    transition: transform 0.2s ease-in-out;
}
.logo_div img:hover{
    transform: scale(1.2);
}
.other{
    position: relative;
    padding:20px;
}
.search input{
    position: absolute;
    margin-bottom:20px;
    right:20px;
    height:30px;
    width:250px;
    text-align: left;
    padding-left: 5px;
    border-radius: 10px;
    padding-top:4px;
    border: none;
}
.facility{
    position: relative;
    bottom:-10px;
}
.facility ul{
    display: flex;
    gap: 30px;
    color:white;
    margin-top: 50px;
    cursor:pointer;
    list-style: none;
    transition: transform 0.2s ease-in-out;
}
.facility ul li:hover{
    text-decoration: underline;
    transform: scale(1.2);
}
.main{
    display:flex;
    margin-top:5px;
    padding:10px;
}
.booking_area{
    background-color:rgb(176, 158, 158);
    padding:20px;
    border-radius: 10px;;
}

.plan{
    flex:1;
    gap:10px;
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.plan img{
    height:50px;
    width:50px;
    transition: transform 0.15s ease-in-out;
}
.plan img:hover{
    transform: scale(1.2);
}
.plan div{
    font-size: 30px;
    transition:transform 0.15s ease-in-out;
}
.plan div:hover{
    transform: scale(1.08);
}
.click{
    font-family: 'Hanken Grotesk', sans-serif;
    margin-bottom:15px;
    transition: transform 0.15s ease-in-out;
}
.click:hover{
    transform: scale(1.08);
}
.click span{
    color:rgb(25, 25, 196);
    cursor:pointer;
}
.click span:hover{
    text-decoration: underline;
}
.from{
    color:red;
    margin-bottom: 5px;
    transition: transform 0.15s ease-in-out;
}
.from:hover{
    transform: scale(1.08);
}
.fromStation input{
    width:300px;
    height:30px;
    margin-bottom:10px;
    transition: transform 0.15s ease-in-out;
}
.fromStation input:hover{
    transform: scale(1.08);
}
.to{
    color:red;
    margin-bottom:5px;
    transition: transform 0.15s ease-in-out;
}
.to:hover{
    transform: scale(1.08);
}
.toStation input{
    width:300px;
    height:30px;
    margin-bottom:10px;
    transition: transform 0.15s ease-in-out;
}
.toStation input:hover{
    transform: scale(1.08);
}
.leaving{
    color:red;
    margin-bottom: 5px;
    transition: transform 0.15s ease-in-out;
}
.leaving:hover{
    transform: scale(1.08);
}
.now{
    height:30px;
    width:70px;
    background-color: red;
    color:white;
    border:none;
    cursor: pointer;
    border-radius:4px;
    margin-bottom: 10px;
    transition: transform 0.15s ease-in-out;
}
.now:hover{
    transform: scale(1.2);
}
.advance{
    font-size: 18px;
    margin-bottom:10px;
    transition: transform 0.15s ease-in-out;
}
.advance:hover{
    transform: scale(1.08);
}
.short{
    transition: transform 0.15s ease-in-out;
    display:flex;
    font-size:12px;
    align-items: center;
    gap:20px;
    margin-bottom:10px;
}
.short:hover{
    transform: scale(1.08);
}
.short img{
    height:20px;
    width:20px;
}
.minimum{
    display:flex;
    gap:20px;
    font-size:12px;
    align-items:center;
    transition: transform 0.15s ease-in-out;
}
.minimum:hover{
    transform: scale(1.08);
}
.minimum img{
    height:20px;
    width:20px;
}
.reset_part{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}
.reset{
    text-decoration: underline;
    transition: transform 0.15s ease-in-out;
}
.reset:hover{
    transform: scale(1.2);
}
.reset_part button{
    background-color: red;
    border:none;
    color:white;
    height:30px;
    width:fit-content;
    border-radius: 5px;
    padding-right:10px;
    padding-left:10px;
    transition: transform 0.15s ease-in-out;
}
.reset_part button:hover{
    transform: scale(1.2);
}
.details{
    flex:1;
}
.advertise{
    flex:1;
}